<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>  
	<extension
         id="SmapieBuilder"
         name="SMAP Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run class="org.eclipse.imp.smapifier.builder.SmapieBuilder"/>
      </builder>
   </extension>
   
   <extension
         id="smapinature"
         name="SMAP Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.imp.smapifier.builder.SmapiProjectNature"/>
      </runtime>
      <builder id="org.eclipse.imp.smapifier.SmapieBuilder"/>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
   </extension>
   
   <extension
         id="org.eclipse.imp.smapifier.extension"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaProject"
            nameFilter="*"
            id="com.ibm.smapie.menu">
         <action
               label="Enable SMAP Builder for X10"
               class="org.eclipse.imp.smapifier.actions.SmapifyAction"
               enablesFor="1"
               menubarPath="additions"
               id="org.eclipse.imp.smapifier.actions">
         </action>
      </objectContribution>
   </extension>
   
   
</plugin>
